*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Droid Sans", sans-serif;
  line-height: 1.8;
  word-spacing: .75px;
}
  h1 {
  padding: 5px 5px 0 5px;
  /*font-size: 30px;*/
}

h2 {
  text-align: center;
}

a:link {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*background-color: #ccffff;*/
}


nav li a{
  display: block;
  color: #000;
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  text-transform: lowercase;
}

.home nav li a{
  display: block;
  color: #000;
  padding: 40px 20px 40px 10px;
  margin: 8px 10px 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.active {
  background-color: cornflowerblue;
  color: white;
}

nav li a:hover:not(.active) {
  background-color: coral;
  color: white;
}

.homepage {
  text-transform: uppercase;
}

/* Nav colors */
.home .sonification a {
  background-color: plum;
}

.home .curriculum a {
  background-color: royalblue;
}

.home .about a{
  background-color: cyan;
}

.home .documentation a{
  background-color: lightseagreen;
}

.sonificationpage nav {
  background-color: rgba (0,0,0,.125)
}

.sonificationpage nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,.125);

}

.sonificationpage nav li {
  float:left;
  width: 130px;
}

.sonificationpage nav li a {
  display: block;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.aboutpage nav {
  background-color: rgba (0,0,0,.125)
}

.aboutpage nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,.125);

}

.aboutpage nav li {
  float:left;
  width: 130px;
}

.aboutpage nav li a {
  display: block;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

.curriculumpage nav {
  background-color: rgba (0,0,0,.125)
}

.curriculumpage nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,.125);

}

.curriculumpage nav li {
  float:left;
  width: 130px;
}

.curriculumpage nav li a {
  display: block;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

/**
 * Primary navigation if at least 800px wide.
 *
 *  - Use four columns for navigation on home page.
 *  - Fixed position for navigation on interior pages.
 *
 * */
@media screen and (min-width: 800px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Droid Sans", sans-serif;
    line-height: 1.8;
    word-spacing: 0.75px;
  }

  body.home {
    margin-left:0;
    margin-right:0;
  }

    h1 {
    padding: 5px 20px 0 5px;
  }
  nav {
    display: block;
    width: 125px;
    position: fixed;
    height: 100%;
    overflow: auto;
    right: 0;
    background-color: rgba(0,0,0,.125);
  }

  .sonificationpage nav li a {
    text-align: left;
  }
  .aboutpage nav li a {
    text-align: left;
  }
  .curriculumpage nav li a {
    text-align: left;
  }
  .home nav {
    position: inherit;
    height: inherit;
    overflow: inherit;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
  }


  .home nav li {
    display: inline-block;
    width: 186px;
    margin-left: .5%;
    margin-right: .5%;
  }

  .home nav li:last-of-type {
    margin-right: 0;
  }

  .home nav li a {
    display: block;
    color: #000;
    padding: 300px 10px 400px 10px;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    height: 50vh;
    min-width: 30px
    max-height: 800px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1200px) {

}

  /*.Sonification {*/
    /*background-color: #b3b3cc;*/
  /*}*/

  /*.Documentation {*/
    /*background-color: #80ffdf;*/
  /*}*/
  /*.Curriculum {*/
    /*background-color: #f2f2f2;*/
  /*}*/
  /*.About {*/
    /*background-color: #d9b3ff;*/
  /*}*/

.marginalia {
font-family: "Droid Sans", sans-serif;
font-size: 14px;
float: right;
width: 150px;
background: blanchedalmond;
border: 5px solid burlywood;
padding: 15px;
}

.codequote {
  font-family: monospace;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.05);
  padding: 15px;
}

.soundviz {
display: block;
margin: auto;
padding-top: 10px;
width: 320;
height: 240;
text-align: center;
}

.desc {
text-align: center;
font-style: italic;
line-height: 1.5;
background-color: rgba(0, 0, 0, 0.08);
margin-left: 10%;
margin-right: 10%;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 20px;
}

#banner {
  background-color: rgba(0,0,0,0.10);
}

@media screen and (min-width: 800px) {
  #banner {
    /*z-index: 100;*/
    position:fixed;
    bottom: 0;
    right:0;
    left:0;
  }
}

#banner h1 {
font-size: 16px;
float:left;
}

#banner .provocation {
color: red;
float:right;
text-align:right;
}


#main {
margin-right: 20px;
margin-left: 20px;
padding-bottom: 200px;
}

@media screen and (min-width: 800px) {
  #main {
  margin-right: 140px;
  margin-left: 20px;
  padding-bottom: 200px;
  }
}
