*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: rgba(0,0,0,.10);
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Droid Sans", sans-serif;
  line-height: 1.8;
  word-spacing: .75px;
}

#main {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  min-width: 300px;
}

.provocation {
  background-color: black;
  text-align: center;
  color: white;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
}

.provocation :link {
    color: white;
}

.provocation :visited {
    color: white;
}

.home #main {
  background-color: inherit;
}

#banner h1 {
  text-align: center;
}

  h1 {
  padding: 5px 5px 0 5px;
  /*font-size: 30px;*/
}

h2 {
  text-align: center;
}

a:link {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  border-bottom: 1px solid #555;
}

.home nav ul {
  border: none;
}

.home nav li {
  border-bottom: none;
}

nav li a{
  display: block;
  color: #000;
  padding: 14px 10px;
  text-decoration: none;
  text-transform: lowercase;
}

li:last-child{
  border-bottom: none;
}

.home nav li a{
  display: block;
  color: #000;
  padding: 40px 20px 40px 10px;
  margin: 8px 10px 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.active {
  background-color: cornflowerblue;
  color: white;
}

nav li a:hover:not(.active) {
  background-color: coral;
  color: white;
}

.homepage {
  text-transform: uppercase;
}

/* Nav colors */
.home .sonification a {
  background-color: plum;
}

.home .learning a {
  background-color: royalblue;
}

.home .about a{
  background-color: cyan;
}

.home .documentation a{
  background-color: lightseagreen;
}

img,
video {
  max-width: 100%;
  width: auto;
  height: auto;
}

/**
 * Primary navigation if at least 800px wide.
 *
 *  - Use four columns for navigation on home page.
 *  - Fixed position for navigation on interior pages.
 *
 **/
@media screen and (min-width: 830px) {

html {
  background-color: rgba(0,0,0,.10);
}

.provocation {
  background-color: black;
  text-align: center;
  color: white;
  font-weight: bold;
  position: static;
  width: auto;
  margin-top: -75px;
}

.home .provocation {
  margin-bottom: 5px;
}


body{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left:-300px;
  width: 600px;
  padding-left: 0;
  padding-right: 0;
}

body.home {
  position:static;
  margin:0 auto;
  width: 800px;
}

nav {
    margin-bottom: 140px;
}

.home nav {
  margin-bottom:20px;
}

nav ul {
  border: none;
}
nav li {
  display: block;
  text-align: left;
  border-bottom: none;
}

#banner {
  position:absolute;
  right: -125px;
  width: 125px;
}

.home #banner {
  position: static;
  padding:0;
  width: auto;
}

#banner h1 {
  padding-left: 10px;
  margin-left: -1500px;
}

.home #banner h1 {
  text-align:center;
  padding:0;
  margin-left: 0px;
}

.home .provocation {
  margin-top: 1px;
}

#main {
  background-color: white;
  padding: 2em;
  margin: auto;
  float:left;
}


  .home #main {
    display: none;
  }

    h1 {
    padding: 5px 20px 0 5px;
  }

  .sonificationpage nav li a {
    text-align: left;
  }
  .aboutpage nav li a {
    text-align: left;
  }
  .page nav li a {
    text-align: left;
  }
  .home nav {
    position: inherit;
    height: inherit;
    overflow: inherit;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
  }

  .home nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
  }
  .home nav li {
    display:inline-block;
    width: 24%;
  }


  .home nav li a {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin: 0;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    height: 70vh;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1035px) {
  body {
    width: 700px;
    margin-left: -350px;
    padding-left: 0;
    padding-right: 0;
  }

  #banner h1 {
    padding-left: 10px;
    margin-left: -1705px;
  }

  nav ul {
    border: inherit;
  }

  nav li {
    border-bottom: inherit;
  }

  .home {
    width: 1000px;
  }

  #main {
    font-size: 115%;
    margin: auto;
    padding: auto;
  }
}

@media screen and (min-width: 1140px) {

  #banner h1 {
    padding-left: 10px;
    margin-left: -1920px;
  }
body {
  width: 800px;
  margin-left: -400px;
  padding-left: 0;
  padding-right: 0;
}

.home {
  width: 1100px;
}

#main {
  font-size: 125%;
}


}


.emphasis {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 120%;
  color: coral;
}

.soundviz {
display: block;
margin: auto;
padding-top: 10px;
width: 320;
height: 240;
text-align: center;
}

.soundtutorial {
display: block;
margin: auto;
padding-top: 5px;
width: 200;
height: 240;
text-align: center;
}

.desc {
text-align: center;
font-style: italic;
line-height: 1.5;
background-color: rgba(0, 0, 0, 0.08);
margin-left: 10%;
margin-right: 10%;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 20px;
}

#cost:before {
  content: "= ";
}

/* stuff that has to do with flipclock*/
.flip-clock-wrapper ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.flip-clock-wrapper li, .flip-clock-wrapper div {
  display: inline;
  margin: 0;
  padding: 0;
}

.flip-clock-wrapper .flip-clock-before{
  display: none;
}

.flip-clock-wrapper .up {
  display: none;
}

.flip-clock-divider .flip-clock-label{
  display: none;
}

.flip-clock-divider.minutes:before,
.flip-clock-divider.seconds:before {
  content: ":";
}

/* Override jQuery UI stuffs. */
.ui-widget-content {
  border:none !important;
}

.ui-accordion .ui-accordion-content {
  padding:0 !important;
}

.ui-widget {
  font-family: inherit !important;
  font-size: inherit !important;
}

.ui-helper-reset {
  line-height: inherit !important;
}
