<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="{{ "/jquery-ui/jquery-ui.js" | prepend: site.baseurl }}"></script>
  <link rel="stylesheet" href="{{ "/jquery-ui/jquery-ui.css" | prepend: site.baseurl }}">
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>

</head>

  <body class="{{ page.bodyclass }}">



    <header role="banner" id="banner">
      <h1>Praxis: ClockWork</h1>
      <div class="provocation">
        <span class="your-clock"></span>
        <span id="cost"></span>
      </div>
    </header>
    <nav class="nav-collapse">
      <ul class="{{page.title}}">
        {% if page.bodyclass != 'home' %}
         <li class="homepage"><a href="/"> Home </a></li>
        {% endif %}
        {% if page.bodyclass == "sonificationpage" %}
          <li class="sonification active"><a href="/sonification/"> Sonification </a></li>
        {% else %}
          <li class="sonification"><a href="/sonification/"> Sonification </a></li>
        {% endif %}
        {% if page.bodyclass == "aboutpage" %}
          <li class="about active"><a href="/about/"> About </a></li>
        {% else %}
          <li class="about"><a href="/about/"> About </a></li>
        {% endif %}
        {% if page.bodyclass == "curriculumpage" %}
          <li class="curriculum active"><a href="/curriculum/"> Curriculum </a></li>
        {% else %}
          <li class="curriculum"><a href="/curriculum/"> Curriculum </a></li>
        {% endif %}
        <li class="documentation"><a href="/bikeshed-doc/questions-towards-humanities-data.html" target="_blank"> Documentation </a></li>


      </ul>
    </nav>
    <main id="main" role="main">
        {{ content }}

    </main>
       <script src="/flipclock.js"></script>
       <script>
         $(document).ready(function(){
           var clock = $(".your-clock").FlipClock({

             "autoStart": false
           });

           if (sessionStorage.getItem("clockTime")){
             var savedTime = parseInt(sessionStorage.getItem("clockTime"));
             clock.setTime(savedTime);
             clock.start();
           } else {
             clock.start();
           }

           $(window).on('beforeunload', function(){
             var currentTime = clock.getTime();
             sessionStorage.setItem("clockTime", currentTime.time);
           });
              /*This rounding function found at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/round. */
                   (function() {
                     /**
                      * Decimal adjustment of a number.
                      *
                      * @param {String}  type  The type of adjustment.
                      * @param {Number}  value The number.
                      * @param {Integer} exp   The exponent (the 10 logarithm of the adjustment base).
                      * @returns {Number} The adjusted value.
                      */
                     function decimalAdjust(type, value, exp) {
                       // If the exp is undefined or zero...
                       if (typeof exp === 'undefined' || +exp === 0) {
                         return Math[type](value);
                       }
                       value = +value;
                       exp = +exp;
                       // If the value is not a number or the exp is not an integer...
                       if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
                         return NaN;
                       }
                       // Shift
                       value = value.toString().split('e');
                       value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
                       // Shift back
                       value = value.toString().split('e');
                       return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
                     }

                     // Decimal round
                     if (!Math.round10) {
                       Math.round10 = function(value, exp) {
                         return decimalAdjust('round', value, exp);
                       };
                     }
                     // Decimal floor
                     if (!Math.floor10) {
                       Math.floor10 = function(value, exp) {
                         return decimalAdjust('floor', value, exp);
                       };
                     }
                     // Decimal ceil
                     if (!Math.ceil10) {
                       Math.ceil10 = function(value, exp) {
                         return decimalAdjust('ceil', value, exp);
                       };
                     }
                   })();
                  /* That's all from Mozilla - now we're back into flipclock and session storage */







           setInterval(function() {
                    var currentTime = clock.getTime().time;
                    var minimumWagePerSecond = 0.001986111;
                    var currentCost = Math.round10(parseInt(currentTime) * minimumWagePerSecond, -2);
                    $('#cost').text("$" + currentCost);
                  }, 1000);


         });
       </script>
  </body>

</html>
