<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>


  <body class="{{ page.bodyclass }}">

    <header role="banner" id="banner">
      <h1>Praxis: Time &#38; Sound</h1>
      <p class="provocation"><time>00:00:00</time>: $000.00 (<a
      href="#">?</a>)</p>
    </header>
    <nav>
      <ul class="{{page.title}}">
        <li class="homepage"><a href="/"> Home </a></li>
        <li class="sonification"><a href="/sonification/"> Sonification </a></li>
        <li class="about"><a href="/about/"> About </a></li>
        <li class="curriculum"><a href="/curriculum/"> Curriculum </a></li>
        <li class="documentation"><a href="/bikeshed-doc/questions-towards-humanities-data/" target="_blank"> Documentation </a></li>
      </ul>
    </nav>
    <main id="main" role="main">
        {{ content }}
    </main>
  </body>

</html>
